<h1><%= @player.name %></h1>

<p>
  <strong>Balance:</strong>
  <%= @player.balance %>
</p>

<style>
    /* Genel stil ayarları */
    h1 {
        margin-bottom: 20px;
    }

    h2 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    form {
        margin-bottom: 30px; /* Formlar arasına boşluk ekler */
    }

    div {
        margin-bottom: 10px; /* Form elemanları arasına boşluk ekler */
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    select, input[type="number"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    input[type="submit"] {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #45a049;
    }

    a {
        margin-right: 10px; /* Linkler arasına boşluk ekler */
    }
</style>

<h2>Transfer Money</h2>
<%= form_with url: transfer_player_path(@player), method: :post, local: true do %>
  <div>
    <%= label_tag :recipient_id, 'Recipient' %>
    <%= select_tag :recipient_id, options_from_collection_for_select(Player.where.not(id: @player.id), :id, :name) %>
  </div>
  <div>
    <%= label_tag :amount, 'Amount' %>
    <%= number_field_tag :amount %>
  </div>
  <div>
    <%= submit_tag 'Transfer' %>
  </div>
<% end %>

<h2>Withdraw Money</h2>
<%= form_with url: withdraw_player_path(@player), method: :post, local: true do %>
  <div>
    <%= label_tag :amount, 'Amount' %>
    <%= number_field_tag :amount %>
  </div>
  <div>
    <%= submit_tag 'Withdraw' %>
  </div>
<% end %>

<h2>Deposit Money</h2>
<%= form_with url: deposit_player_path(@player), method: :post, local: true do %>
  <div>
    <%= label_tag :amount, 'Amount' %>
    <%= number_field_tag :amount %>
  </div>
  <div>
    <%= submit_tag 'Deposit' %>
  </div>
<% end %>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
